
.parent{
    margin: 10px;
    display: grid;
    border:10px solid black;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 100px 100px 100px; */
    gap: 20px;
    /* row-gap: 40px;
    column-gap: 60px; */
}
.child:nth-child(even)
{
    background-color: aqua;
    color:black;
    padding: 10px;
    border: 1px solid black;
    font-size:20px;
}
.child:nth-child(odd)
{
    background-color: azure;
    color: black;
    border: 2px solid red;
}

/* .one
{
    grid-row: span 2;
    grid-columns: span 3;
} */